<div class="col-md-6">
	<div class="panel panel-primary">
		<div class="panel-heading">
			Últimas tareas
		</div>
		<table class="table">
			<thead>
				<th>ID</th>
				<th>Asunto</th>
				<th>Creado</th>
			</thead>
			<tbody>
			<% current_user.tasks.ordered.limit(3).each do |task| %>
				<tr class="<%= task.try(:state) %>">
					<td><%= task.id %></td>
					<td><%= task.title %></td>
					<td><%= task.created_at.strftime("%d %b. %Y") %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
		<div class="panel-body text-center">
			<%= link_to '-> Ir a Tareas', iuris.tasks_path %>
		</div>
	</div>
</div>